<body>
  <header class="header">
    <div class="header-right"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></div>
    <div class="header-right"><%= link_to "プロフィール編集", edit_user_path(current_user) %></div>
    <h1 class="logo"><%= current_user.nickname %>の思い出！</h1>
  </header>
    <div class="wrapper">
      
      <main class="main">
        <div class="profile">
          <h2 class="name">プロフィール</h2>
          <div class="baby active"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQna_3E15mNbH4_1fXU5PopvqI98ww4dKjf72Gas48RCNTBHRoF" width="220" height="220" ></div>
          <div class="baby"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRga1qDACfivsa7r2shsiFwGhnKOsPpN143TrFFLil3Ym1r6_9k" width="220" height="220"></div>
          <div class="baby"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSf_wSbxvn--wdf_bT64STKqu9Oj71mNi304JIaYNonmk-Wg4AK" width="220" height="220"></div>
          <div class="baby"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ17IldXey_bjlxon33wL4_N1ynONsahcCbkdnr86ourOIheNT8" width="220" height="220"></div>
        <div class="index-btn-wrapper">
          <div class="index-btn">1</div>
          <div class="index-btn">2</div>
          <div class="index-btn">3</div>
          <div class="index-btn">4</div>  
        </div>
          
          <div class="names">
          <h2><span > お名前：</span><%= current_user.name %></h2>
          <h2><span > ふりがな：</span><%= current_user.name_kana %></h2>
          <h2><span > ニックネーム：</span><%= current_user.nickname %></h2>
          <h2><span > お誕生日：</span><%= current_user.birthday %></h2>
          <h2><span > 性別：</span><%= current_user.gender %></h2>
          <h2><span > 生まれてから：</span><%= @day %><span>日目</span></h2>
          </div>
        </div>
        
        
        <div class="article">
          <h2 class="articles">思い出一覧</h2>
          <%= link_to "新規登録", new_shot_path, class: 'btns' %>
          <div class="bottom"></div>
        <% @shots.each do |shot| %>
        <hr>
        <% if shot.image.attached? %>
        <div class="image-tag"><%= image_tag shot.image, :size => '150x170' %></div>
         <% end %>
        <p class="shot-date"><%= shot.date.strftime("%Y年%m月%d日 %H:%M") %></p>
        <h3 class="shot-titles"><%= link_to"#{shot.title}", shot_path(shot.id) %></h3>
        <div class="bottom"></div>
        <% end %>
        <div class="texts"><%= paginate(@shots) %></div>
        </div>
        
        
        <div class="new-articles">
          <h2 class="name">最新の思い出</h2>
            <% @shotss.each.with_index(1) do |shot, i| %>
            <p class="new-names"><span><%= i %>. </span><%= link_to"#{shot.title}", shot_path(shot.id) %></p>
            <% end %>
          </h3>
        </div>
        
      </main>
      
        <div class="sidemenu">
          <div id="calendar"></div>
          <div class="information">
            <h2 class="imaformations">子育て情報</h2>
            <% @products.each do |product| %>
             <li class="products"><%= link_to"#{product.title}", product.url %></li>
             <% end %>
          </div>
        </div>
        
    </div>
    
    <div class="bottom"></div>
  <footer class="footer">
    <ul class="horizontal-list">
      <li class="horizontal-item"><a href="#">ABOUT ME</a></li>
      <li class="horizontal-item"><a href="#">SITE MAP</a></li>
      <li class="horizontal-item"><a href="#">SNS</a></li>
      <li class="horizontal-item"><a href="#">CONTACT</a></li>
    </ul>
    <p class="copyright">Copyright © 2019 KeitaAkiyama</p>
  </footer>
</body>